<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
					class="oi oi-home"></i> <span th:text="#{home}"></span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/login}"> <i
					class="oi oi-home"></i> <span th:text="#{login}"></span>
			</a></li>
		</ul>
		<div>
			<ul class="nav nav-pills">
			<div sec:authorize="hasRole('ROLE_ADMIN')">
			<li class="nav-item"><span class="nav-link active"
					th:text="#{admin_menu}"></span></li>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/menu}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{menu}"></span>
				</a></li>
				</div>
				<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_HOTEL')">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{saleoff_list}"></span></li>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/saleOff/list}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{list}"></span>
				</a></li>
				</div>
				<li class="nav-item"><span class="nav-link active"
					th:text="#{show_hotels_list}"></span></li>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/hotel/list}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{list}"></span>
				</a></li>
				
				<li class="nav-item"><span class="nav-link active"
					th:text="#{filter}"></span></li>
				</a></li>
				<li class="nav-item">
				<form th:action="@{/hotel/list}">
				<input type="text" id="city" name="city">
				<input type="submit" th:value="#{filter}">
				</form>
				</a></li>
			</ul>
		</div>





		
	</nav>
</body>
</html>